---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
	<header id="header">
		<a href="index.html">
			<h1><strong>Once Removed</strong> Art in a <i>Different</i> Space</h1>
		</a>
		<nav>
			<ul>
				<li><a href="#footer" class="icon fa-info-circle">About</a></li>
			</ul>
		</nav>
	</header>

	<!-- Main -->
	<div id="main">
		{% for image in site.static_files %}
			{% if image.path contains 'fulls' %}
				{% unless image.path contains '_' %}
					<article class="thumb lightbox">
						<a href="{{ site.baseurl }}{{ image.path }}" title="{{ image.basename }}" class="image">
							<img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}" alt="" data-name="{{ image.name }}"/></a>
						{% comment %} Check for edited version of this image {% endcomment %}
						{% comment %} {% assign folder = site.image_fulls_loc | append: '/' | append: image.basename %} {% endcomment %}
						{% for edit in site.static_files %}
							{% if edit.name contains image.basename and edit.name contains '_' %}
								<a href="{{ site.baseurl }}{{ edit.path }}" class="edit" style="display:none" title="00"></a>
							{% endif %}
						{% endfor %}
					</article>
				{% endunless %}
			{% endif %}
		{% endfor %}
	</div>

	<!-- Footer -->
	<footer id="footer" class="panel">
		<section>
			<div>{{ site.bio }}</div>
			<p>{{ site.publicise }}</p>
		</section>
		<p class="copyright">
		&copy; {{ site.author }}.
		</p>
	</footer>
</div>
